# Don't push Python virtual environments
venv/
env/

# Don't push build-specific Terraform files
*.tfstate*
.terraform/
*.tfvars*

# Ignore the example docs
docs/*.py
*.txt
!*robots.txt

# Ignore TF Lock file-- not needed right now
.terraform.lock.hcl

# Ignore IDE specific dirs
.idea/
__pycache__/

# Don't push the Lambda build archives-- these are built by Terraform
lambda_archives/

# Don't upload raw diagram XML files
*.drawio

# Don't pull .github/ directory since end-users won't need it
.github/

# Don't push requests-toolbelt Python library-- build locally to ensure most recent version is being used (and I'm not packaging someone else's code into my repo)
!lambda_code/requests-toolbelt-layer/python
lambda_code/requests-toolbelt-layer/python/*
!lambda_code/requests-toolbelt-layer/python/README.md